

footer {
    height : 25vh;
    background-color: rgb(255, 43, 51);
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: 1s;
    
}

footer h4{
    margin-top : 40px;
}

footer .copyright {
    color: white;
    text-align: center;

}

footer a:hover { 
    color: black;
}

footer i {
    margin : 10px;
    font-size: 25px;
}