
body {
    font-family: 'Montserrat';
}
footer {
    height : 400px;
    background-color: #DC3545;
    color: white;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: 1s;
    
}

footer h4{
    margin-top : 40px;
}

 #copyright {
    color: white;
    text-align: center;

}

footer a:hover { 
    color: black;
}

footer i {
    margin : 10px;
    font-size: 25px;
}

#bandereau {
    background-color: #b32c39;
    height : 80px;
    display : flex;
    justify-content: center;
    align-items: center;
}



/* INDEX------------------------------------ */
#pokedex-image {
    background-image: url(../images/pokedex.jpg);
    background-position: center;
    background-size: cover;
    float: left;
    height : 300px;
    width : 60vw;
    margin : 20px;
}

.index-container p {
    text-align: justify;
}

.index-container p::first-letter{
    font-size: 60px;
    float: left;
    margin : 10px;
} 

.index-container {
    border: 1px solid rgb(181, 181, 181);
    padding : 40px;
    margin : 40px;
    border-radius: 10px;
    width : 80vw;
}

.index-container h3 {
    text-align: center;
    margin : 20px;
}

