header {
    height : 300px;
}

nav {
    width : 80vw;
    /* font-size : 0.8em; */
    left : 10vw;
    bottom : 40px;
}

nav ul li {
    padding : 0 5px;
    height : 50px;
}

nav ul li {
    font-size : 0.8em;
}

.dropdown-menu li a:hover {
    height: 50px;
}

#diviser{
    height : 50px;
}

footer {
    height : 350px;
}

/* SECTION PRESENTATION ------------------------------------------------ */
.carte {
    width : 35vw;
}